<h4 class="mt-0 header-title">Create Form</h4>
<p class="text-muted m-b-30 font-14">Fill in these fields below and submit <strong>Create</strong>
  button to finish.</p>

<form action="/admin/accounts/add" method="POST">
  {{> csrf}}
  {{!-- Username --}}
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="username">
          <i class="mdi mdi-account-location mr-2"></i>Username
        </label>
        {{#if errors}} 
        {{!-- Has error --}}
          {{#each errors}}
            {{#ifeq this.field 'username'}} 
              <input id="username" name="username" type="text" required
              class="form-control parsley-error" value="{{{this.value}}}">
              <p class="form-validation-error">{{{this.message}}}</p>
            {{else}} 
            {{/ifeq}}
          {{/each}}

          {{!-- Valid --}}
          {{#if validData.username}}
          <input id="username" name="username" type="text" required class="form-control" value="{{{validData.username}}}">
          {{/if}} 
        {{else}}
        {{!-- First load --}}
          <input id="username" name="username" type="text" required class="form-control"
          {{#if validData.username}} value="{{{validData.username}}}"
          {{/if}} >
        {{/if}}
      </div>
    </div>
  </div>

  {{!-- Email --}}
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="email">
          <i class="ion-ios7-email mr-2"></i>Email
        </label>
        {{#if errors}} 
        {{!-- Has error --}}
          {{#each errors}}
            {{#ifeq this.field 'email'}} 
              <input id="email" name="email" type="email" required
              class="form-control parsley-error" value="{{{this.value}}}">
              <p class="form-validation-error">{{{this.message}}}</p>
            {{else}} 
            {{/ifeq}}
          {{/each}}

          {{!-- Valid --}}
          {{#if validData.email}}
          <input id="email" name="email" type="email" class="form-control" value="{{{validData.email}}}"
            required>
          {{/if}} 
        {{else}}
        {{!-- First load --}}
          <input id="email" name="email" type="email" required class="form-control"
          {{#if validData.email}} value="{{{validData.email}}}"
          {{/if}} >
        {{/if}}

      </div>
    </div>
  </div>

  {{!-- Password --}}
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="password">
          <i class="ion ion-unlocked mr-2"></i>Password
        </label>

        {{#if errors}} 
        {{!-- Has error --}}
          {{#each errors}}
            {{#ifeq this.field 'password'}} 
              <input id="password" name="password" type="password" required
              class="form-control parsley-error" value="{{{this.value.password}}}">
              <p class="form-validation-error">{{{this.message}}}</p>
            {{else}} 
            {{/ifeq}}
          {{/each}}
          
          {{!-- Valid --}}
          {{#if validData.password}}
          <input id="password" name="password" type="password" class="form-control" value="{{{validData.password}}}" required>
          {{/if}} 
        {{else}}
        {{!-- First load --}}
          <input id="password" name="password" type="password" required class="form-control"
          {{#if validData.password}} value="{{{validData.password}}}"
          {{/if}} >
        {{/if}}
      </div>

      {{!-- Confirm Password --}}
      <div class="form-group">
        <label for="confirm_password">
          <i class="ion ion-unlocked mr-2"></i>Confirm Password
        </label>
        
        {{#if errors}} 
        {{!-- Has error --}}
          {{#each errors}}
            {{#ifeq this.field 'confirm_password'}} 
              <input id="confirm_password" name="confirm_password" type="password" required
              class="form-control parsley-error" value="{{{this.value.confirm_password}}}">
              <p class="form-validation-error">{{{this.message}}}</p>
            {{else}} 
            {{/ifeq}}
          {{/each}}

          {{!-- Valid --}}
          {{#if validData.confirm_password}}
          <input id="confirm_password" name="confirm_password" type="password" class="form-control" value="{{{validData.confirm_password}}}"
            required>
          {{/if}} 
        {{else}}
        {{!-- First load --}}
          <input id="confirm_password" name="confirm_password" type="password" required class="form-control"
          {{#if validData.confirm_password}} value="{{{validData.confirm_password}}}"
          {{/if}} >
        {{/if}}
      </div>
    </div>
  </div>

  {{!-- Role --}}
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">
          <i class="ion-ribbon-b mr-2"></i>Role
        </label>
        <select class="form-control select2" name="role" id="role" required>
          <option value="" selected disabled>Select a role</option>
          <option value="admin" {{#ifMatch validData.role 'admin'}} selected {{/ifMatch}}> Admin
          </option>
          <option value="user" {{#ifMatch validData.role 'user'}} selected {{/ifMatch}}> Customer
          </option>
        </select>

        {{#if errors}}
          {{#each errors}}
            {{#ifeq this.field 'role'}}
            <p class="form-validation-error">{{{this.message}}}</p>
            {{/ifeq}}
          {{/each}}
        {{else}}
        {{/if}}

      </div>
    </div>
  </div>

  {{!-- Status --}}
  <div class="row mt-1 pt-2">
    <div class="col-sm-12">
      <label class="control-label">
        <i class="ion-ios7-circle-filled mr-2"></i>Status
      </label>

      {{#if errors}}
        {{#each errors}}
          {{#ifeq this.field 'status'}}
          <p class="form-validation-error">{{{this.message}}}</p>
          {{/ifeq}}
        {{/each}}
      {{else}}
      {{/if}}
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        {{#if validData.status}}
        <label class="btn btn-danger {{#ifMatch validData.status 'deactivated'}} active {{/ifMatch}}" 
        onclick="selectStatus(this)" for="deactivated-status">Deactivated</label>
        <input type="radio" name="status" id="deactivated-status" value="deactivated"
        {{#ifMatch validData.status 'deactivated'}} checked {{/ifMatch}}>
        <label class="btn btn-success {{#ifMatch validData.status 'activated'}} active {{/ifMatch}}"
        onclick="selectStatus(this)" for="activated-status">Activated</label>
        <input type="radio" name="status" id="activated-status" value="activated"
        {{#ifMatch validData.status 'activated'}} checked {{/ifMatch}}>
        
        {{else}}
        {{!-- First load --}}
        <label class="btn btn-danger active" onclick="selectStatus(this)" for="deactivated-status">Deactivated</label>
        <input type="radio" name="status" id="deactivated-status" value="deactivated" checked>
        <label class="btn btn-success" onclick="selectStatus(this)" for="activated-status">Activated</label>
        <input type="radio" name="status" id="activated-status" value="activated">
        {{/if}}

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 mr-0 text-right">
      <button type="submit" class="btn btn-success waves-effect waves-light">Create</button>
      <button type="button" onclick="backward()" class="btn btn-secondary waves-effect">Cancel</button>
    </div>
  </div>
</form>