<h4 class="mt-0 header-title">Update Form</h4>
<p class="text-muted m-b-30 font-14">Edit the fields and submit <strong>Save changes</strong> button to save them.</p>

<form action="/admin/accounts/edit/{{{account.id}}}" method="POST">
    {{> csrf}}
    
    {{!-- Username --}}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="username">
                    <i class="mdi mdi-account-location mr-2"></i>Username
                </label>
                {{#if errors}}
                {{!-- Has error --}}
                {{#each errors}}
                {{#ifeq this.field 'username'}}
                <input id="username" name="username" type="text" required class="form-control parsley-error"
                    value="{{{this.value}}}">
                <p class="form-validation-error">{{{this.message}}}</p>
                {{else}}
                {{/ifeq}}
                {{/each}}
                
                {{!-- Valid --}}
                {{#if validData.username}}
                <input id="username" name="username" type="text" required class="form-control" value="{{{validData.username}}}">
                {{/if}} 
                {{else}}
                {{!-- First load --}}
                <input id="username" name="username" type="text" required class="form-control"
                    value="{{{account.username}}}">
                {{/if}}
            </div>
        </div>
    </div>

    {{!-- Email --}}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="email">
                    <i class="ion-ios7-email mr-2"></i>Email
                </label>
                {{#if errors}}
                {{!-- Has error --}}
                {{#each errors}}
                {{#ifeq this.field 'email'}}
                <input id="email" name="email" type="email" required class="form-control parsley-error"
                    value="{{{this.value}}}">
                <p class="form-validation-error">{{{this.message}}}</p>
                {{else}}
                {{/ifeq}}
                {{/each}}

                {{!-- Valid --}}
                {{#if validData.email}}
                <input id="email" name="email" type="email" required class="form-control" value="{{{validData.email}}}">
                {{/if}} 
                {{else}}
                {{!-- First load --}}
                <input id="email" name="email" type="email" required class="form-control"
                    value="{{{account.email}}}">
                {{/if}}
            </div>
        </div>
    </div>

    {{!-- Role --}}
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">
                    <i class="ion-ribbon-b mr-2"></i>Role
                </label>
                <select class="form-control select2" name="role" id="role" required>
                    <option value="">Select a role</option>
                    <option value="admin" {{#ifMatch account.role 'admin'}} selected {{/ifMatch}}> Admin
                    </option>
                    <option value="user" {{#ifMatch account.role 'user'}} selected {{/ifMatch}}> Customer
                    </option>
                </select>

                {{#if errors}}
                {{#each errors}}
                {{#ifeq this.field 'role'}}
                <p class="form-validation-error">{{{this.message}}}</p>
                {{/ifeq}}
                {{/each}}
                {{else}}
                {{/if}}

            </div>
        </div>
    </div>

    {{!-- Status --}}
    <div class="row mt-1 pt-2">
        <div class="col-sm-2">
            <label class="control-label">
                <i class="ion-ios7-circle-filled mr-2"></i>Status
            </label>

            {{#if errors}}
            {{#each errors}}
            {{#ifeq this.field 'status'}}
            <p class="form-validation-error">{{{this.message}}}</p>
            {{/ifeq}}
            {{/each}}
            {{else}}
            {{/if}}
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="btn btn-danger {{#ifMatch account.status 'deactivated'}} active {{/ifMatch}}"
                    onclick="selectStatus(this)" for="deactivated-status">Deactivated</label>
                <input type="radio" name="status" value="deactivated" id="deactivated-status" {{#ifMatch account.status 'deactivated'}} checked
                    {{/ifMatch}}>
                <label class="btn btn-success {{#ifMatch account.status 'activated'}} active {{/ifMatch}}"
                    onclick="selectStatus(this)" for="activated-status">Activated</label>
                <input type="radio" name="status" value="activated" id="activated-status" {{#ifMatch account.status 'activated'}} checked
                    {{/ifMatch}}>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 mr-0 text-right">
            <button type="submit" class="btn btn-success waves-effect waves-light">Save changes</button>
            <button type="button" onclick="backward()" class="btn btn-secondary waves-effect">Cancel</button>
        </div>
    </div>
</form>