<div id="site-header-wrap">
	<!-- Top Bar -->
	<div id="top-bar">
		<div id="top-bar-inner" class="container">
			<div class="top-bar-inner-wrap">
				<div class="top-bar-content">
					<span class="content">FREE SHIPPING & FREE RETURNS ON ALL ORDERS</span>
				</div>
				<div class="top-bar-nav">
					<div class="inner">
						<div class="language-wrap">
							<a href="/track-order">Track order</a>
						</div>
						<div class="account ">
							{{#if user}}
							<div class="dropdown account-dropdown">
								<button class="btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">
									{{{user.username}}}
									{{#if user.profile}}
										{{#if user.profile.avatar.urlLink}}
										<img class="ml-1" src="{{{user.profile.avatar.urlLink}}}" alt="avatar"
											style="height: 100%; width: 25px;  border-radius: 50%">
										{{else}}
											{{#ifeq user.profile.avatar.fileName 'default' }}
											<i class="fa fa-user ml-1"></i>
											{{else}}
											<img class="ml-1" alt="avatar" style="height: 100%; width: 30px;  border-radius: 50%"
												src="data:{{{user.profile.avatar.mimeType}}};base64,{{{parseImageToString user.profile.avatar.data}}}">
											{{/ifeq}}
										{{/if}}
									{{else}}
									<i class="fa fa-user ml-1"></i>
									{{/if}}
								</button>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" href="/my-account" style="color: #343a40">My account</a>
									<a class="dropdown-item" href="/my-orders" style="color: #343a40">My orders</a>
									<a class="dropdown-item" href="/logout" style="color: #343a40">Logout</a>
								</div>
							</div>
							{{ else }}
							<ul class="d-flex flex-row">
								<li><a href="/login">Login </a></li>
								<li class="mx-1">|</li>
								<li><a href="/register">Register </a></li>
							</ul>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Top Bar -->
	<!-- Header -->
	<header id="header" class="header header-container clearfix">
		<div class="container clearfix" id="site-header-inner">
			<div id="logo" class="logo float-left">
				<a href="/" title="logo">
					<img src="/static/images/logo.png" alt="image" width="107" height="24"
						data-retina="/static/images/logo@2x.png" data-width="107" data-height="24">
				</a>
			</div><!-- /.logo -->
			<div class="mobile-button"><span></span></div>

			<ul class="menu-extra">
				<li class="box-search">
					<a class="icon_search header-search-icon" href="#"></a>
					<form role="search" method="get" class="header-search-form" action="/search-products">
						<input type="text" name="productName" class="header-search-field" placeholder="Search...">
						<button type="submit" class="header-search-submit" title="Search">Search</button>
					</form>
				</li>
				<li class="box-cart nav-top-cart-wrapper">
					<a class="icon_cart nav-cart-trigger active" href="javascript:void(0);">
						<span id="cart-total-num">0</span>
					</a>
					<div class="nav-shop-cart">
						<div class="widget_shopping_cart_content ">
							<div id="cart-wrap" class="woocommerce-min-cart-wrap p-0">
								<ul class="woocommerce-mini-cart cart_list product_list_widget p-2" style="overflow-y: unset;">
										<li class="woocommerce-mini-cart-item mini_cart_item p-2" style="border-bottom: unset;">
												<span>No Items in Shopping Cart</span>
										</li>
								</ul>
							</div>
						</div>
					</div><!-- /.nav-shop-cart -->
				</li>
			</ul><!-- /.menu-extra -->
			<div class="nav-wrap">
				<nav id="mainnav" class="mainnav">
					<ul class="menu">
						<li class="active">
							<a href="/">HOME</a>
						</li>
						{{#each categories}}
						<li>
							<a href="/products-by-category?categoryId={{{id}}}">{{{name}}}</a>
							{{#if subcategories}}
							<ul class="submenu">
								{{!-- Subcategories --}}
								{{#each subcategories}}
								<li>
									<a href="/products-by-subcategory?subcategoryId={{{id}}}">{{{name}}}</a>
								</li>
								{{!-- END subcategories --}}
								{{/each}}
							</ul>
							{{/if}}
						</li>
						{{/each}}
					</ul>
				</nav><!-- /.mainnav -->
			</div><!-- /.nav-wrap -->
		</div><!-- /.container-fluid -->
	</header><!-- /header -->
</div><!-- /#site-header-wrap -->