<form action="/admin/profile" method="POST" enctype="multipart/form-data">
    {{> csrf}}
    <div class="row p-3 m-2">
        <div class="p-0 col-2 d-flex flex-column justify-content-start align-items-center">
            <div class="my-3 ">
                {{#if user.profile.avatar}}
                <img class="img-thumbnail" id="avatar-block" alt="200x200" style="width: 200px; height: 200px;"
                    src="data:image/jpeg;base64,{{{user.profile.avatar}}}" data-holder-rendered="true">
                {{else}}
                <img src="/static/default-user.png" id="avatar-block" alt="200x200" style="width: 200px; height: 200px;" data-holder-rendered="true" class="img-thumbnail">
                {{/if}}
            </div>
            <div class="my-2">
                <label for="avatar" class="btn btn-primary waves-effect waves-light active" 
                onclick="invokeAvatarInp" >
                    <i class="mdi mdi-cloud-upload mr-1"></i> Change avatar
                </label>
                <input type="file" name="avatar" id="avatar" accept="image/*" onchange="loadFile(event)" /> 
            </div>
            {{#ifeq error.field 'avatar'}} 
                {{> admin/form/error.partial }} 
                {{{error.file_name}}}
            {{else}} {{/ifeq}}
        </div>
        <div class="pl-3 col-10">
            <div class="form-group row mt-2">
                <div class="col-6">
                    <label for="firstName" class="mb-2">
                        <i class="mdi mdi-account-card-details mr-2"></i>First Name</label>
                    <input type="text" id="firstName" name="firstName" placeholder="Enter first name" 
                        {{#ifeq error.field 'firstName'}} 
                            value="{{{error.value}}}"
                        {{else}} 
                            value="{{{user.profile.firstName}}}"
                        {{/ifeq}}
                        class="form-control {{#ifeq error.field 'firstName'}}parsley-error{{else}} {{/ifeq}} ">
                        {{#ifeq error.field 'firstName'}} {{> admin/form/error.partial }} {{else}} {{/ifeq}}
                </div>

                <div class="col-6">
                    <label for="lastName" class="mb-2">
                        <i class="mdi mdi-account-card-details mr-2"></i>Last Name</label>
                    <input type="text" id="lastName" name="lastName" placeholder="Enter last name" 
                        {{#ifeq error.field 'lastName'}} 
                            value="{{{error.value}}}"
                        {{else}} 
                            value="{{{user.profile.lastName}}}"
                        {{/ifeq}}
                        class="form-control {{#ifeq error.field 'lastName'}}parsley-error{{else}} {{/ifeq}} "> 
                        {{#ifeq error.field 'lastName'}} {{> admin/form/error.partial }} {{else}} {{/ifeq}}
                </div>
            </div>

            <div class="form-group mt-2">
                <label class="mb-2"><i class="mdi mdi-gender-transgender mr-2"></i>Gender</label>
                <div class="col-5 my-auto d-flex flex-row justify-content-start align-items-center">
                    <label for="male" id="male-lbl" 
                    class="btn btn-info mr-2 my-auto {{#ifeq user.profile.gender 'male'}} selected {{else}} {{/ifeq}}"
                    onclick="selectGender(this)"> 
                        <i class="mdi mdi-gender-male mr-1"></i>Male
                    </label>
                    <input value="male" id="male" type="radio" name="gender" class="form-control" 
                    hidden="true" {{#ifeq user.profile.gender 'male'}} checked {{else}} {{/ifeq}} >
                    <label for="female" id="female-lbl" 
                    class="mr-2 my-auto btn btn-pink {{#ifeq user.profile.gender 'female'}} selected {{else}} {{/ifeq}}"
                    onclick="selectGender(this)">
                        <i class="mdi mdi-gender-female mr-1"></i>Female
                    </label>
                    <input value="female" id="female" type="radio" name="gender" class="form-control" 
                    hidden="true" {{#ifeq user.profile.gender 'female'}} checked {{else}} {{/ifeq}}>
                    <label for="lgbt" id="lgbt-lbl" 
                    class="mr-2 my-auto btn btn-rainbow {{#ifeq user.profile.gender 'lgbt'}} selected {{else}} {{/ifeq}}"
                    onclick="selectGender(this)">
                        <i class="mdi mdi-gender-transgender mr-1"></i>LGBT
                    </label>
                    <input value="lgbt" id="lgbt" type="radio" name="gender" class="form-control" 
                    hidden="true" {{#ifeq user.profile.gender 'lgbt'}} checked {{else}} {{/ifeq}}>
                </div>
                {{#ifeq error.field 'gender'}} {{> admin/form/error.partial }} {{else}} {{/ifeq}}
            </div>

            <div class="form-group mt-2">
                <label for="dateOfBirth" class="mb-2"><i class="mdi mdi-cake-variant mr-2"></i>Date of birth</label>
                <div class="input-group">
                    <input type="text" name="dateOfBirth"  placeholder="mm/dd/yyyy"
                        id="datepicker-autoclose" 
                        {{#ifeq error.field 'dateOfBirth'}} 
                            value="{{formatDate error.value}}"
                        {{else}} 
                            value="{{formatDate user.profile.dateOfBirth}}"
                        {{/ifeq}}
                        class="form-control {{#ifeq error.field 'dateOfBirth'}}parsley-error{{else}} {{/ifeq}} ">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                    </div>
                </div>
                {{#ifeq error.field 'dateOfBirth'}} {{> admin/form/error.partial }} {{else}} {{/ifeq}}
            </div>

            <div class="form-group mt-2">
                <label for="phoneNumber" class="mb-2"><i class="mdi mdi-cellphone-basic mr-2"></i>Phone number</label>
                <div class="input-group">
                    <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Enter phone number"
                        {{#ifeq error.field 'phoneNumber'}} 
                            value="{{{error.value}}}"
                        {{else}} 
                            value="{{{user.profile.phoneNumber}}}"
                        {{/ifeq}}
                        class="form-control {{#ifeq error.field 'phoneNumber'}}parsley-error{{else}} {{/ifeq}} ">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="ion-ios7-telephone"></i></span>
                    </div>
                </div>
                {{#ifeq error.field 'phoneNumber'}} {{> admin/form/error.partial }} {{else}} {{/ifeq}}
            </div>

            <div class="form-group row m-t-30">
                <div class="col-12 text-right">
                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>