<!-- Login Form -->
<section class="flat-row flat-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-section margin_bottom_17">
          <h2 class="title">
            Set up new password
          </h2>
        </div><!-- /.title-section -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-8 d-flex flex-column mx-auto px-4 ">
        {{> flash}}
        <form  class="contact-form" method="post" action="/reset-password">
        {{> csrf}}
        <input type="hidden" name="query" value='{{{queryData}}}'>
          <div class="row form-group my-3">
            <div class="col-12 form-input">
              <label for="new_password" class="form-label">
                New password <span class="text-danger">*</span>
              </label>

              {{#if errors.new_password}}
              <input type="password" name="new_password" id="new_password" class="not-valid"
              placeholder="Enter password" required>
              {{#with errors.new_password}}
                {{> client/error.partial}}
              {{/with}}
              {{else}}
                {{#if validData.new_password}}
                <input type="password" name="new_password" id="new_password" placeholder="Enter password" value="{{{validData.new_password}}}" required>
                {{else}}
              <input type="password" name="new_password" id="new_password" placeholder="Enter password" required>
                {{/if}}
              {{/if}}
            </div>
          </div>

          <div class="row form-group my-3">
            <div class="col-12 form-input">
              <label for="confirm_new_password" class="form-label">
                Confirm new password <span class="text-danger">*</span>
              </label>

              {{#if errors.confirm_new_password}}
              <input type="password" name="confirm_new_password" id="confirm_new_password" class="not-valid"
              placeholder="Enter password" required>
              {{#with errors.confirm_new_password}}
                {{> client/error.partial}}
              {{/with}}
              {{else}}
                {{#if validData.confirm_new_password}}
                <input type="password" name="confirm_new_password" id="confirm_new_password" placeholder="Enter password" value="{{{validData.confirm_new_password}}}" required>
                {{else}}
              <input type="password" name="confirm_new_password" id="confirm_new_password" placeholder="Enter password" required>
                {{/if}}
              {{/if}}
            </div>
          </div>


          <div class="row form-group my-3">
            <div class="col-12">
            <button class="w-100 form-input contact-submit my-2">Save changes</button>
            </div>
          </div>
        </form>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-row -->

<!-- End Login Form -->