{{> client/page-title.partial}}

{{!-- Detail --}}
<section class="flat-row main-shop shop-detail style-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="wrap-flexslider">
          <div class="inner padding-top-5">
            <div class="flexslider style-2 has-relative">
              <ul class="slides">
                {{#if product.gallery}}
                {{#each product.gallery}}
                <li data-thumb="data:{{{this.mimeType}}};base64,{{{print64baseProductImg this.fileName this.extension}}}" style="width: 70px; height: 70px;">
                  <img src="data:{{{this.mimeType}}};base64,{{{print64baseProductImg this.fileName this.extension}}}" alt="Image" style="width: 470px; height: 612px;">
                  <div class="flat-icon style-1">
                    <a href="data:{{{this.mimeType}}};base64,{{{print64baseProductImg this.fileName this.extension}}}" class="zoom-popup"><span
                        class="fa fa-search-plus"></span></a>
                  </div>
                </li>
                {{/each}}
                {{/if}}
              </ul>
            </div>
            <!-- /.flexslider -->
          </div>
        </div>
      </div>
      <!-- /.col-md-6 -->

      <div class="col-md-6">
        <div class="divider h0"></div>
        <div class="product-detail">
          <div class="inner">
            <div class="content-detail">
              <h2 class="product-title">{{{product.name}}}</h2>
              <div class="flat-star style-1">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-half-o"></i>
                <span>(1)</span>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </p>
              <div class="price">
                {{!-- <del><span class="regular">$90.00</span></del> --}}
                <ins><span class="amount">{{{formatPrice product.price}}}</span></ins>
              </div>
              {{#if product.details.size}}
              <div class="size d-flex justify-content-start align-items-center">
                <p class="font-weight-600 mr-3">Size:</p>
                <ul class="p-0">
                  <li class='product-size'>
                    <a href="#">{{{product.details.size}}}</a>
                    </li>
                </ul>
              </div>
              {{/if}}
              {{#if product.details.color}}
              <div class="color d-flex justify-content-start align-items-center">
                <p class="font-weight-600 mr-4">Color:</p>
                <ul>
                  <li class='product-color'>
                    <a href="#">{{{product.details.color.colorName}}}</a>
                  </li>
                </ul>
              </div>
              {{/if}}
              <ul class="product-infor style-1">
                <li><span>100% cotton</span></li>
                <li><span>6 months warranty</span></li>
                <li><span>High Quality</span></li>
              </ul>
              <div class="product-quantity">
                <div class="quantity">
                  <input type="text" value="1" name="quantity-number" class="quantity-number" />
                  <span class="inc quantity-button">+</span>
                  <span class="dec quantity-button">-</span>
                </div>
                <div class="add-to-cart">
                  <a href="#">ADD TO CART</a>
                </div>
                <div class="box-like">
                  <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                </div>
              </div>
              <div class="product-categories">
                <span>Categories: </span>
                <a href="/products-by?categoryId={{{product.subcategory.categoryId._id}}}" class="text-info">
                  {{{product.subcategory.categoryId.name}}}
                </a>
              </div>
              <div class="product-tags">
                <span>Tags: </span>
                <a >Dress,</a> 
                <a >Fashion,</a>
                <a >Furniture,</a>
                <a >Lookbok</a>
              </div>
              <ul class="flat-socials">
                <li>
                  <a ><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a ><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                 <a ><i class="fa fa-pinterest"></i></a>
                </li>
                <li>
                  <a ><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a ><i class="fa fa-google-plus"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.product-detail -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

{{!-- Description --}}
<section class="flat-row shop-detail-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="flat-tabs style-1 has-border">
          <div class="inner">
            <ul class="menu-tab">
              <li class="active">Description</li>
              <li>Additional information</li>
            </ul>
            <div class="content-tab">
              <div class="content-inner">
                <div class="flat-grid-box col2 border-width border-width-1 has-padding clearfix">
                  <div class="grid-row image-left clearfix">
                    <div class="grid-item">
                      <div class="thumb text-center">
                        <img src="/static/images/shop/sh-detail/desc-pexels-artem-beliaikin-1078958.jpg" alt="Image" />
                      </div>
                    </div>
                    <!-- /.grid-item -->
                    <div class="grid-item">
                      <div class="text-wrap">
                        <h6 class="title">100 % authenticated</h6>
                        <p>
                          Fashion has always been so temporary and uncertain. You can’t keep
                          up with it. This social phenomenon is very whimsical, thus we as the
                          consumers always try to stay in touch with all the latest fash- ion
                          tendencies.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- /.grid-row -->

                  <div class="grid-row image-right padding-bottom-48 clearfix">
                    <div class="grid-item">
                      <div class="text-wrap">
                        <h6 class="title">Youthful Style</h6>
                        <p>
                          Fashion has always been so temporary and uncertain. You can’t keep
                          up with it. This social phenomenon is very whimsical, thus we as the
                          consumers always try to stay in touch with all the latest fash- ion
                          tendencies.
                        </p>
                      </div>
                    </div>
                    <div class="grid-item">
                      <div class="thumb text-center">
                        <img src="/static/images/shop/sh-detail/desc-pexels-godisable-jacob-1075776.jpg" alt="Image" />
                      </div>
                    </div>
                    <!-- /.grid-item -->
                  </div>
                  <!-- /.grid-row -->

                  <div class="grid-row image-left padding-bottom-48 clearfix">
                    <div class="grid-item">
                      <div class="thumb text-center">
                        <img src="/static/images/shop/sh-detail/desc-pexels-burst-374845.jpg" alt="Image" />
                      </div>
                    </div>
                    <!-- /.grid-item -->
                    <div class="grid-item">
                      <div class="text-wrap">
                        <h6 class="title">Comfortable</h6>
                        <p>
                          Fashion has always been so temporary and uncertain. You can’t keep
                          up with it. This social phenomenon is very whimsical, thus we as the
                          consumers always try to stay in touch with all the latest fash- ion
                          tendencies.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- /.grid-row -->

                  <div class="grid-row image-right clearfix">
                    <div class="grid-item">
                      <div class="text-wrap">
                        <h6 class="title">Easy To Clean</h6>
                        <p>
                          Fashion has always been so temporary and uncertain. You can’t keep
                          up with it. This social phenomenon is very whimsical, thus we as the
                          consumers always try to stay in touch with all the latest fash- ion
                          tendencies.
                        </p>
                      </div>
                    </div>
                    <div class="grid-item">
                      <div class="thumb text-center">
                        <img src="/static/images/shop/sh-detail/desc-pexels-alex-green-5691869.jpg" alt="Image" />
                      </div>
                    </div>
                    <!-- /.grid-item -->
                  </div>
                  <!-- /.grid-row -->
                </div>
                <!-- /.flat-grid-box -->
              </div>
              <!-- /.content-inner -->
              <div class="content-inner">
                <div class="inner max-width-40">
                  <table>
                    <tr>
                      <td>Weight</td>
                      <td>1.73 kg</td>
                    </tr>
                    <tr>
                      <td>Dimensions</td>
                      <td>100 x 37 x 100 cm</td>
                    </tr>
                    <tr>
                      <td>Materials</td>
                      <td>80% cotton, 20% linen</td>
                    </tr>
                    <tr>
                      <td>Size</td>
                      <td>One Size, XL, L, M, S</td>
                    </tr>
                  </table>
                </div>
              </div>
              <!-- /.content-inner -->

              <!-- /.content-inner -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.shop-detail-content -->

{{!-- Related shops --}}
<section class="flat-row shop-related">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-section margin-bottom-55">
          <h2 class="title">Related Products</h2>
        </div>

        <div class="product-content product-fourcolumn clearfix">
          <ul class="product style2">
            {{#if relatedProducts}}
            {{#each relatedProducts}}
            <li class="product-item">
              <div class="product-thumb clearfix">
                <a href="/product?id={{{id}}}">
                  <img src="data:{{{gallery.0.mimeType}}};base64,{{{print64baseProductImg gallery.0.fileName gallery.0.extension}}}" alt="image" style="width: 286px; height: 250px"/>
                </a>
              </div>
              <div class="product-info clearfix mt-3">
                <span class="product-title">{{{name}}}</span>
                <div class="price">
                  <ins>
                    <span class="amount">{{{formatPrice price}}}</span>
                  </ins>
                </div>
                {{!-- <ul class="flat-color-list">
                  <li>
                    <a href="#" class="red"></a>
                  </li>
                  <li>
                    <a href="#" class="blue"></a>
                  </li>
                  <li>
                    <a href="#" class="black"></a>
                  </li>
                </ul> --}}
              </div>
              <div class="add-to-cart text-center">
                <a href="#">ADD TO CART</a>
              </div>
              {{!-- <a href="#" class="like"><i class="fa fa-heart-o"></i></a> --}}
            </li>
            {{/each}}
            {{/if}}
            <li class="product-item">
              <div class="product-thumb clearfix">
                <a href="#">
                  <img src="/static/images/shop/sh-4/pexels-mika-borgia-1317712.jpg" alt="image" />
                </a>
              </div>
              <div class="product-info clearfix mt-3">
                <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                <div class="price">
                  <ins>
                    <span class="amount">$19.00</span>
                  </ins>
                </div>
                <ul class="flat-color-list">
                  <li>
                    <a href="#" class="red"></a>
                  </li>
                  <li>
                    <a href="#" class="blue"></a>
                  </li>
                  <li>
                    <a href="#" class="black"></a>
                  </li>
                </ul>
              </div>
              <div class="add-to-cart text-center">
                <a href="#">ADD TO CART</a>
              </div>
              <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
            </li>
            <li class="product-item">
              <div class="product-thumb clearfix">
                <a href="#" class="product-thumb">
                  <img src="/static/images/shop/sh-4/pexels-milena-hasvil-1021693.jpg" alt="image" />
                </a>
                <span class="new sale">Sale</span>
              </div>
              <div class="product-info clearfix mt-3">
                <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                <div class="price">
                  <del>
                    <span class="regular">$90.00</span>
                  </del>
                  <ins>
                    <span class="amount">$60.00</span>
                  </ins>
                </div>
                <ul class="flat-color-list">
                  <li>
                    <a href="#" class="red"></a>
                  </li>
                  <li>
                    <a href="#" class="blue"></a>
                  </li>
                  <li>
                    <a href="#" class="black"></a>
                  </li>
                </ul>
              </div>
              <div class="add-to-cart text-center">
                <a href="#">ADD TO CART</a>
              </div>
              <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
            </li>
          </ul>
          <!-- /.product -->
        </div>
        <!-- /.product-content -->
      </div>
    </div>
    <!-- /.row -->
  </div>
</section>