{{!-- Order id --}}
<div class="row mx-2 my-3">
  <div class="col-sm-4">
    <p class="mb-0 card-header" style="font-size: 1.1rem;">Order Id</p>
  </div>
  <div class="col-sm-3">
    <input type="text" name="orderId" id="orderId" readonly value="{{{order.id}}}">
  </div>
</div>
{{!-- Status --}}
<div class="row mx-2 my-3">
  <div class="col-sm-4">
    <p class="mb-0 card-header" style="font-size: 1.1rem;">Status</p>
  </div>
  <div class="col-sm-8 ">
    <button {{#ifeq order.status 'processing'}} class="btn-info" {{/ifeq}} {{#ifeq order.status 'packing'}}
      style="background-color: #6d60b0;" {{/ifeq}} {{#ifeq order.status 'delivering'}}
      style="background-color: #f06292;" {{/ifeq}} {{#ifeq order.status 'done'}} class="btn-success" {{/ifeq}}
      {{#ifeq order.status 'canceled'}} class="btn-warning" {{/ifeq}} type="button" onclick="javascript:void(0);">
      {{{order.status}}}
    </button>
  </div>
</div>
{{!-- Details --}}
<div class="row mx-2 my-3">
  <div class="col-sm-12">
    <div class="card p-2">
      <div class="card-body ">
        <div class="card-header">Purchased products ({{{order.orderDetails.length}}})</div>
        <table class="table table-hover">
          <thead class="thead-light">
            <tr class="bg-info">
              <th style="color: #fff;">Product name</th>
              <th style="color: #fff;">Amount</th>
              <th style="color: #fff;">Price</th>
            </tr>
          </thead>
          <tbody>
            {{#each order.orderDetails}}
            <tr>
              <td>
                <a href="/product?id={{{productId._id}}}" target="_blank">
                  {{{productId.name}}}
                </a>
              </td>
              <td>x{{{amount}}}</td>
              <td>${{{productId.price}}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{!-- Cost --}}
<div class="row mx-2 my-3">
  <div class="col-sm-12">
    <div class="card p-2">
      <div class="card-body ">
        <div class="card-header">Cost</div>
        <table class="table">
          <tr>
            <th>Subtotal:</th>
            <td>$ {{{order.totalCost}}}</td>
          </tr>
          <tr>
            <th>Shipping cost:</th>
            <td>$ {{{order.shippingFee}}}</td>
          </tr>
          <tr class="bg-primary">
            <th class="text-white">Total cost:</th>
            <td class="text-white">$ {{{order.finalCost}}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
{{!-- Payment method --}}
<div class="row mx-2 my-3">
  <div class="col-sm-4">
    <p class="mb-0 card-header" style="font-size: 1.1rem;">Payment method</p>
  </div>
  <div class="col-sm-2">
    <input type="text" name="orderId" id="orderId" readonly value="{{{order.paymentMethod}}}">
  </div>
</div>
{{!-- Order date --}}
<div class="row mx-2 my-3">
  <div class="col-sm-4">
    <p class="mb-0 card-header" style="font-size: 1.1rem;">Ordered at</p>
  </div>
  <div class="col-sm-2">
    <input type="text" name="orderId" id="orderId" readonly value="{{{formatDate order.createdAt}}}">
  </div>
</div>
{{!-- Delivery day --}}
<div class="row mx-2 my-3">
  <div class="col-sm-4">
    <p class="mb-0 card-header" style="font-size: 1.1rem;">Delivery day (estimated)</p>
  </div>
  <div class="col-sm-2">
    <input type="text" name="orderId" id="orderId" readonly value="{{{formatDate order.deliveryDay}}}">
  </div>
</div>