<!-- PRODUCT NEW -->
<section class="flat-row row-best-sale">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-section margin-bottom-43">
          <h2 class="title">
            Best Sale
          </h2>
        </div>
        <div class="product-content product-fourcolumn clearfix">
          <ul class="product style3">
            {{#if bestSellers}}
            {{#each bestSellers}}
            <li class="product-item">
              <div class="product-thumb clearfix" id="product-box-{{{id}}}" data-name="{{{name}}}" data-size="{{{details.size}}}" data-price="{{{price}}}">
                <a href="/product?id={{{id}}}">
                  <img id="product-image-{{{id}}}"
                  src="data:{{{gallery.0.mimeType}}};base64,{{{print64baseProductImg gallery.0.fileName gallery.0.extension}}}" alt="image" style="width: 233px; height: 349.5px">
                </a>
                <span class="new sale">{{{subcategory.name}}}</span>
              </div>
              <div class="product-info clearfix m-1">
                <span class="product-title">{{{name}}}
                <div class="price">
                  {{!-- <del>
                    <span class="regular">$130.00</span>
                  </del> --}}
                  <ins>
                    <span class="amount">{{{formatPrice price}}}</span>
                  </ins>
                </div>
              </div>
              <div class="add-to-cart text-center" data-product-id="{{{id}}}">
                <a href="javascript:void(0);">ADD TO CART</a>
              </div>
            </li>
            {{/each}}
            {{/if}}
          </ul><!-- /.product -->
        </div><!-- /.product-content -->
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
<!-- END PRODUCT NEW -->