<!-- PRODUCT -->
<section class="flat-row row-product-project shop-collection">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-section margin-bottom-41">
          <h2 class="title">New Collection</h2>
        </div>
        <ul class="flat-filter style-1 text-center max-width-682 clearfix">
          <li class="active"><a href="#" data-filter="*">All Product</a></li>
          {{#if newCollection}}
          {{#each newCollection}}
          <li><a href="#" data-filter=".{{{categoryName}}}">{{{categoryName}}}</a></li>
          {{/each}}
          {{/if}}
        </ul>
        <div class="divider h40"></div>
        <div class="product-content product-fourcolumn clearfix">
          <ul class="product style2 isotope-product clearfix">
            {{#if newCollection}}
            {{#each newCollection}}
              {{#if this.products}}
              {{#each this.products}}
            <li id="product-box-{{{id}}}" class="product-item {{{../categoryName}}}" data-name="{{{name}}}" data-size="{{{details.size}}}" data-price="{{{price}}}">
              <div class="product-thumb clearfix ">
                <a href="/product?id={{{id}}}">
                  <img id="product-image-{{{id}}}" src="data:{{{gallery.0.mimeType}}};base64,{{{print64baseProductImg gallery.0.fileName gallery.0.extension}}}" alt="image" style="width: 233px; height: 349.5px">
                </a>
              </div>
              <div class="product-info clearfix  m-1">
                <span class="product-title">{{{name}}}
                <div class="price">
                  <ins>
                    <span class="amount">{{{formatPrice price}}}</span>
                  </ins>
                </div>
              </div>
              <div class="add-to-cart text-center" data-product-id="{{{id}}}">
                <a href="javascript:void(0);" >ADD TO CART</a>
              </div>
            </li>
              {{/each}}
              {{/if}}
            {{/each}}
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END PRODUCT -->